.h1, h1 {
  @apply tw-text-h1-extra-bold;

  @include md {
    font-size: 60px;
    line-height: 1.4;
  }

  @include sm {
    font-size: 32px;
  }

  @include xs {
    font-size: 26px;
  }
}

.h2, h2 {
  @apply tw-text-h2-extra-bold;
}

.h3, h3 {
  @apply tw-text-h3-bold;
}

.h-mb-40 {
  margin-bottom: 40px;
}

.h-mb-50 {
  margin-bottom: 50px;
}

.h-mb-60 {
  margin-bottom: 60px;
}
