.page-pt {
  padding-top: 60px;

  @include md {
    padding-top: 40px;
  }

  @include sm {
    padding-top: 30px;
  }
}

.page-pb {
  padding-bottom: 140px;

  @include sm {
    padding-bottom: 90px;
  }
}
