@font-face {
  font-family: 'WixMadeforDisplay';
  src:
    url('/fonts/Wix_Madefor_Display/woff2/Regular.woff2') format('woff2'),
    url('/fonts/Wix_Madefor_Display/woff/Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WixMadeforDisplay';
  src:
    url('/fonts/Wix_Madefor_Display/woff2/Medium.woff2') format('woff2'),
    url('/fonts/Wix_Madefor_Display/woff/Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WixMadeforDisplay';
  src:
    url('/fonts/Wix_Madefor_Display/woff2/SemiBold.woff2') format('woff2'),
    url('/fonts/Wix_Madefor_Display/woff/SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WixMadeforDisplay';
  src:
    url('/fonts/Wix_Madefor_Display/woff2/Bold.woff2') format('woff2'),
    url('/fonts/Wix_Madefor_Display/woff/Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'WixMadeforDisplay';
  src:
    url('/fonts/Wix_Madefor_Display/woff2/ExtraBold.woff2') format('woff2'),
    url('/fonts/Wix_Madefor_Display/woff/ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
